@import 'libs/base';

#loginForm {
	text-align: center;
	padding: 3.5em 0;
	margin: auto;

	header {
		h2 {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
	}

	.button {
		vertical-align: middle;
		margin-left: 0;
		width: 100%;
	}
	
	.facebook {
		background-color: #3b5998;
	}
	
	.google {
		background-color: #d34836;
	}
}