section(class="wrapper style1")
    div.container
        div(class="row 200%")
            each val in area01Buttons
                section(class="4u 12u(narrower)")
                    div(class="box highlight")
                        i(class="icon major #{val.icon}")
                        h3= val.header
                        p= val.text