div#footer
    div.container
        div.row
            section(class="3u 6u(narrower) 12u$(mobilep)")
                h3 Links to Stuff
                ul.links
                    li
                        a(href="#") Mattis et quis rutrum
                    li
                        a(href="#") Suspendisse amet varius
                    li
                        a(href="#") Sed et dapibus quis
                    li
                        a(href="#") Rutrum accumsan dolor
                    li
                        a(href="#") Mattis rutrum accumsan
                    li
                        a(href="#") Suspendisse varius nibh
                    li
                        a(href="#") Sed et dapibus mattis
            section(class="3u 6u$(narrower) 12u$(mobilep)")
                h3 More Links to Stuff
                ul.links
                    li
                        a(href="#") Mattis et quis rutrum
                    li
                        a(href="#") Suspendisse amet varius
                    li
                        a(href="#") Sed et dapibus quis
                    li
                        a(href="#") Rutrum accumsan dolor
                    li
                        a(href="#") Mattis rutrum accumsan
                    li
                        a(href="#") Suspendisse varius nibh
                    li
                        a(href="#") Sed et dapibus mattis
            section(class="6u 12u(narrower)")
                h3 Get In Touch
                form
                    div(class="row 50%")
                        div(class="6u 12u(mobilep)")
                            input#name(type="text",name="name",placeholder="Name")
                        div(class="6u 12u(mobilep)")
                            input#email(type="email",name="email",placeholder="Email")
                    div(class="row 50%")
                        div.12u
                            textarea#message(name="message",placeholder="Message",rows="5")
                    div(class="row 50%")
                        div.12u
                            ul.actions
                                li
                                    input(type="submit",class="button alt",value="Send Message")
    ul.icons
        li
            a(href="#",class="icon fa-twitter")
                span.label Twitter
        li
            a(href="#",class="icon fa-facebook")
                span.label Facebook
        li
            a(href="#",class="icon fa-github")
                span.label GitHub
        li
            a(href="#",class="icon fa-linkedin")
                span.label LinkedIn
        li
            a(href="#",class="icon fa-google-plus")
                span.label Google+
    div.copyright
        ul.menu
            li &copy; #{title}. All rights reserved