div#header
    h1
        a#logo(href="/")= title
    block menu
        nav#nav
            ul
                each val in menuItems
                    li
                        a(href="#{val.get().link}") #{val.get().label}
                li
                    if user
                        a(href="/logout") Logout
                    else
                        a(href="/login") Login
block banner
    section#banner
        header
            h2
                | Arcana: <em>A responsive site template freebie by <a href="http://html5up.net">HTML5 UP</a></em></h2>
                a.button(href="#") Learn More