doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        meta(name="description",content="")
        meta(name="author",content="")
        
        meta(name="viewport",content="width=device-width, initial-scale=1")
        
        link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600",rel="stylesheet",type="text/css")
        
        link(rel="stylesheet",href="stylesheets/normalize.css")
        link(rel="stylesheet",href="stylesheets/skeleton.css")
        link(rel="stylesheet",href="stylesheets/custom.css")
        link(rel="stylesheet",href="stylesheets/menu.css")
        
        link(rel="icon",type="image/png",href="images/favicon.png")
        
        script(src="//code.jquery.com/jquery-2.2.4.min.js")
        //script(src="//cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js")
        //script(src="//cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js")
        //script(src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js")
        
        //script(src="javascript/app.js",type="text/babel")
        script(src="javascript/site.js")
        script(src="javascript/bundle.js")
        
        block page_head_after
body
    div.container
        block content