doctype html
//
    Arcana by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/stylesheets/style.css')
        block page_head_before
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        link(rel="stylesheet",href="assets/css/main.css")
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        script(src="assets/js/jquery.min.js")
        script(src="assets/js/jquery.dropotron.min.js")
        script(src="assets/js/skel.min.js")
        script(src="assets/js/util.js")
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        script(src="assets/js/main.js")
        block page_head_after
    body
        div#page-wrapper
            block body_header
                include includes/body_header.jade
            block area01
                include includes/area01.jade
            block content
            block area02
                include includes/area02.jade
            block area03
                include includes/area03.jade
            block area04
                include includes/area04.jade
            block body_footer
                include includes/body_footer.jade