extends layout

block page_head_after
    link(rel='stylesheet', href='/stylesheets/login.css')

block banner

block area01
    
block content
    section#loginForm(class="wrapper 4u 6u(normal) 10u(narrow)")
        form(method="post")
            div(class="row")
                header
                    h2 Sign in with your credentials:
                div.12u
                    input#login(type="text",name="login",placeholder="Login")
                div.12u
                    input#password(type="password",name="password",placeholder="Password")
                div.12u
                    input.button(type="submit",class="button alt 12u",value="OK")
            div(class="row")
                header
                    h2 Or, if you prefer, you can also:
                div.12u
                    a.button(class="facebook alt",href="/auth/facebook") Sign in with Facebook
                div.12u
                    a.button(class="google alt",href="/auth/google") Sign in with Google+

block area02

block area03

block area04